<configuration>
	<appSettings>
		<add key="CATALOG_URL" value="https://dev-ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadLiveAll"/>
		<add key="METADATA_URL" value="https://dev-ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadMetadata/{0}/JSON-stat/2.0/{1}"/>
		<add key="LLM_KEY" value="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"/>
		<add key="LLM_MODEL" value="gpt-4o-mini"/>
		<add key="EMBEDDINGS_KEY" value="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"/>
		<add key="EMBEDDINGS_MODEL" value="text-embedding-3-small"/>
		<add key ="PROMPT_LOCATION" value=".\AIModels\Prompt\"/>
		<add key="LLM_URL" value=""/>
		<add key="EMBEDDINGS_URL" value=""/>
		<add key="DUCKDB_CONNECTION" value="Data Source={0}"/>
		<add key="DUCKDB_LOCATION" value=".\Database\Phase.db"/>
		<add key="CSV_LOCATION" value="C:\Phase\phase.csv"/>
	</appSettings>
</configuration>