<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<aspNetCore processPath="dotnet" arguments=".\Phase.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
		<validation validateIntegratedModeConfiguration="false" />
		<!-- 
  ********************************************************************** 
  IIS - Request limit
  ********************************************************************** 
  -->
		<security>
			<requestFiltering>
				<!-- maxAllowedContentLength (B) -->
				<requestLimits maxAllowedContentLength="1073741824" />
			</requestFiltering>
		</security>

		<handlers>
			<!-- Add the handler to instruct IIS to serve the JSON RPC webservice requests -->
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<!-- 
  ********************************************************************** 
  CORS - Cross-Origin Resource Sharing
  ********************************************************************** 
  -->
		<httpProtocol>
			<customHeaders>
				<!-- Local CORS 
				<add name="Access-Control-Allow-Origin" value="*" />-->
				<!-- subscription_key is the header value for throttling capability
				<add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept, subscription_key" />
				<add name="Access-Control-Allow-Credentials" value="true" />
				<add name="Vary" value="Origin" />-->
			</customHeaders>
		</httpProtocol>

	</system.webServer>

</configuration>